<article class="post">
    <div class="title">
        <h2>{{title}}</h2> <br>
        <p>{{post_text}}</p> <br>
        <p>By: {{user.username}}</p>
        <span>{{format_date created_at}}</span>
    </div>
    
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>

</article>